.button {
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
}

.sb-shortenbtn{
    border: 1px solid white;
    color: white;
    height: 45px;
    cursor: pointer;
}


.content-header-btn-group .button-left, .content-header-btn-group .button-right{
    background-color: #2680eb;
    /* border: 0.1px solid white; */
    border: none;
    padding: 8px 8px 8px 8px;
    color: white;
    cursor: pointer;
}
.button-left{
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
}
.button-right{
    border-radius: 0 4px 4px 0;
    height: 40px;
    width: 40px;
}
.btn-pagination{
    width: 20px;
    height: 20px;

}
.btn-pagination.disabled {
    opacity: 0.4;
    pointer-events: none;
}

/* .content-body-btn-group:focus-within .{

} */
.btn-group-item{
    width: 32px;
    height: 32px;
    border: 1px solid #c5ccd5;
    margin-right: 15px;
}
.btn-group-item:hover{
    background-color:#c9d7f6;
    border :1px solid #006cf0;
}
.modal-btn-cancel, .modal-btn-save{
    width: 40px;
    height: 32px;
    margin-right: 8px;
    border: none;
}
.modal-btn-save{
    background-color: #2680eb;
    color: white;
}