.display-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}  
.align-items-center{
    align-items: center;
}  
.align-items-end{
    align-items: flex-end;
}  
.flex1{
    flex: 1;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
} 
.justify-content-space-around{
    justify-content: space-around;
} 
.justify-content-start{
    justify-content: flex-start;
}  
.justify-content-end{
    justify-content: flex-end;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;
}
.overflow-x-auto{
    overflow-x: auto;       /* scroll ngang */
}
.overflow-x-hidden{
    overflow-x: hidden;       /* scroll ngang */
}
.overflow-y-auto{
    overflow-y: auto;       /* scroll doc */
}
.overflow-y-hidden{
    overflow-y: hidden;       /* scroll doc */
}
.position-fixed{
    position: fixed;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.text-decoration-none{
    text-decoration: none;
    /* color: inherit; */
}  
.text-red{
    color: red;
} 
.select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    display: none;
    z-index: 10;
}

 