.icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    mask-image: url("../icons/ICON.svg");
    mask-repeat: no-repeat;
    background-color: #c5ccd5;

}

.badge {
    position: absolute;
    top: -4px;
    right: -4px;
    min-width: 10px;
    height: 10px;
    padding: 0 4px;
    background: #e53935;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    pointer-events: none;
}

.icon-default {
    background: url("../icons/ICON.svg") no-repeat;
    width: 20px;
    height: 20px;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.icon-sb-recuiment {
    mask-position: -98px -114px;
}

.icon-sb-candidate {
    mask-position: -25px -114px;
}

.icon-sb-schedule {
    mask-position: -145px -114px;
}

.icon-sb-repository {
    mask-position: 0px -112px;
}

.icon-sb-strategy {
    mask-position: -73px -633px;
}

.icon-sb-todo {
    mask-position: -338px -113px;
}

.icon-sb-aimarketing {
    mask-position: -160px -248px;
}

.icon-sb-chatbox {
    mask-position: -72px -845px;
}

.icon-sb-report {
    mask-position: -72px -113px;
}

.icon-sb-setting {
    mask-position: -0px -136px;
}

.icon-sb-other {
    mask-position: -359px -614px;
}

.icon-sb-arrowleft {
    mask-position: -57px -694px;
}

/* Khi thu gọn → icon xoay */
.sidebar-collapsed .icon-sb-arrowleft {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.icon-logo {
    position: absolute;
    bottom: -6px;
    width: 54px;
    height: 54px;
    background: url("../icons/ICON.svg") no-repeat -53px -411px;
    transform: scale(0.6);
    z-index: 1;
}
.bg-logo{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 102px;
	height: 42px;
    background: url("https://amisplatform.misacdn.net/apps/recruit/event-header.8a0adb3bd0c107ff.svg")no-repeat;
    z-index: 2;
}
.icon-switchapp {
    width: 18px;
    height: 18px;
    mask-position: -16px -47px;
    margin-right: 20px;
}

.icon-searchheader {
    width: 18px;
    height: 18px;
    mask-position: -311px -1105px;
    background-color: gray;
}

.icon-website {
    mask-position: 0 -608px;
    background-color: #7a8188;
}

.icon-new-feature {
    mask-image: url("../icons/icon-newfeature.svg");
    mask-repeat: no-repeat;
    mask-position: -2px -3px;
    background-color: #7a8188;
}

.icon-shopping-cart {
    background: url("../icons/cs-icon-store.svg") no-repeat 0 0;
    width: 20px;
    height: 20px;
}

.icon-user-invite {
    background: url("../icons/inviteCandidate.svg") no-repeat -1px -1px;
    width: 23px;
    height: 22px;
    transform: scale(0.95);
}

.icon-message {
    background: url("../icons/mesHeader.svg") no-repeat -2px -2px;
}

.icon-notification {
    background: url("../icons/notification.svg") no-repeat -2px -2px;
}

.icon-header-other {
    mask-position: -50px -610px;
    transform: scale(1.1);
    background-color: #7a8188;
}

.icon-knowledge {
    background: url("../icons/idea.svg") no-repeat -2px -1px;
    width: 20px;
    height: 22px;
    transform: scale(1.1);
}

.icon-add-candidate {
    mask-position: -196px -116px;
    width: 16px;
    height: 16px;
    transform: scale(0.8);
}

.icon-more-arrow {
    mask-position: -195px -141px;
    width: 9px;
    height: 14px;
    rotate: 270deg;
    transform: scale(0.6);
}

.icon-search-candidate {
    background: url("https://amisplatform.misacdn.net/apps/recruit/assets/images/ai-feature/ai-search-candidate.svg") no-repeat;
    background-position: -1px 0;
    width: 28px;
	height: 28px;
    transform: scale(0.8);
}

.icon-filter {
    mask-position: -40px -658px;
    width: 16px;
    height: 16px;
    transform: scale(1.1);
    background-color: #7a8188;
}

.icon-export {
    mask-position: -62px -658px;
    width: 16px;
    height: 16px;
    transform: scale(1.1);
    background-color: #7a8188;
}

.icon-quick-action {
    mask-position: -4px -849px;
    width: 16px;
    height: 16px;
    transform: scale(1.1);
    background-color: #7a8188;
}

.icon-setting {
    mask-position: -25px -609px;
    width: 22px;
    height: 22px;
    transform: scale(0.8);
    background-color: #7a8188;
}

.icon-arrow-left {
    mask-position: -199px -141px;
    width: 9px;
    height: 14px;
    background-color: #7a8188;
}

.icon-arrow-right {
    mask-position: -220px -141px;
    width: 9px;
    height: 14px;
    background-color: #7a8188;
}
.edit-icon {
  opacity: 0;
  display: block;
  mask-position: -180px -656px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  background-color: #7a8188;
  
}
.delete-icon{
    opacity: 0;
    display: block;
    background-position: -145px -633px;
    width: 16px;
    height: 16px;
    transform: scale(1.3);
    cursor: pointer;
    transition: opacity 0.2s ease;
}