.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 4;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #fff;
  padding: 10px 0px 0px 0px;
  width: 550px;
  max-height: 95vh; 
  border-radius: 8px;
}
.modal-header , .modal-footer{
    padding: 8px 16px 8px 16px;
    flex-shrink: 0;
}
.modal-title{
    font-size: 25px;
}
.close{
    font-size: 35px;
    color: #999;
}
.modal-body{
    min-height: 0;  
}
.modal-middle{
    padding: 8px 8px 16px 8px;
}
.modal-infor{
    padding: 8px 8px 8px 8px;
}

.modal-left{
    border: 1px solid rgb(195, 193, 193);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px 20px 20px 10px  ;
}
.modal-items{
    margin: 5px 8px 5px 0px;
}
.modal-group{
    margin: 5px 0px 5px 0px;
}
.modal-group-item{
    margin-right: 8px;
}
.study-items{
    margin: 8px 5px 8px 5px;
}
.study-items-text{
    margin-right: 8px;
}

.modal-footer{
    background-color: #f1f2f5;
}
.hr-css{
    display: block;
    margin: 12px 0px 12px 0px;
}
