*,body,html{
    overflow-x: hidden;
    overflow-y: hidden;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Inter,Arial, Helvetica, sans-serif;
}

.container{
    width: auto;
    height: 100vh;
    
}
.container .header{
    height: 48px;
    background-color: white;
    
}


.header .header-left{

    height: 48px;
    padding-left: 16px;
    background: url("https://amisplatform.misacdn.net/apps/recruit/navbar-bg-noel.ff04816e6511986f.svg")no-repeat;
    transform: scale();
}
.logo{
    position: relative;
    width: 100px;
}

.header-title{
    margin-right: 32px;
    font-size: 18px;
    font-weight: bold;
}


.header .header-right{
    height: 40px;
}
.header-right-item{
    margin-right: 20px;
    overflow: visible;
    position: relative;
}
.header-r-item-content{
    margin-left: 8px;
    font-size: 14px;
    color: gray;
}
.container .content{
    background-color: burlywood;
}
.container .sidebar{
    padding: 32px 8px 0px 8px;
    height: 718px;
    width: 233px;
    background: 
    linear-gradient(to bottom, #01102b 0%, #06152b 20%, #1b283f 60%, #1f2732 100%);
    filter: blur();
    background-size: 233px 785px, cover;
}
/* Khi thu gọn */
.sidebar.sidebar-collapsed {
    width: 70px;
}
/* Ẩn text menu khi thu gọn */
.sidebar.sidebar-collapsed .sidebar-content {
    display: none;
}
.content-body-table{
    position: relative;
}
.sidebar .sidebar-items{
    margin-bottom: 10px;
    height: 40px;
    border-radius: 4px;
    padding-left:8px ;
    
}
.active{
    background-color: #2680eb !important;
}
/* Canh giữa icon */
.sidebar.sidebar-collapsed .sidebar-items {
    justify-content: center;
}
.sidebar .sidebar-items:hover{
    background:#1f2732;
    
}
.sidebar .sidebar-content{
    color: white;
}
.container .main-content{
    background-color: rgb(236, 234, 234);
    padding: 16px 8px 16px 16px;
}
.main-content-header{
    margin-bottom: 20px;
}
.content-body{
    background-color: white;
    border-radius: 5px;
}
.content-body-header{
    padding: 10px 10px 10px 10px;
    height: 70px;
}
.content-body-footer{
    padding: 8px 8px 8px 8px;
    background-color: #f5f5f5;
}
.pagination-item{
    margin-right: 8px;
}

.data-table{
    width: max-content;
    height: max-content;
    border-collapse: collapse;
}
.table-head,.table-body{
    width: 100%;
    height: 50px;
}
.field-items-first{
    min-width: 50px;
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
}

.field-items{
    min-width: 200px;
    height: 50px;
}
.table-head .head-row{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
.corner-table{
    min-width: 50px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3; /* cao nhất */
    background-color: white;
}
.data-row{
    border: 1px solid rgb(235, 235, 235);

}
/* Hover dòng */
.data-row:hover{
    background-color: #d6e6fe;
}
.data-row:hover .field-items-first{
    background-color: inherit;
}

.action-col {
  position: sticky;
  right: 0;
  width: 60px;
  height: 50px;
  min-width: 60px;
  background-color: inherit;
  text-align: center;
  z-index: 1;
}
/* Hover dòng → hiện icon */
.data-row:hover .edit-icon , .data-row:hover .delete-icon{
    opacity: 1;
}






