.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  height: 50px;
  border-radius: 6px;
  color: white;
  animation: fadeIn 0.3s;
  z-index: 10;
}

.toast-success {
  background: #28a745;
}

.toast-error {
  background: #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}